.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.container {
    width: 500px;
    margin: 0 auto;
    padding: 12px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.input-container {
    display: flex;
    height: 30px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}
.new-task {
    flex: 1;
    height: 100%;
}
.new-task input[type='text'] {
    height: 88%;
    width: 92%;
    padding-left: 26px;
    border-radius: 6px;

    border: 1px solid;
    /* border-radius: 3px; */
}
.new-task input[type='text']:focus {
    outline: none;
    border-radius: 6px;
    box-shadow: 0 0 0 1px rgba(0, 123, 255, 0.5);
}

.errorInput {
    border: 1px solid #fe0000 !important;
    color: #fe0000 !important;
    position: relative;
}

.add-btn {
    height: 100%;
}

.todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 50px;
    /* border-bottom: 1px solid #dcdcdc; */
    border-top: 2px solid #dcdcdc;
    padding: 4px 0px;
}

.todo-item .task {
    border: none;
    outline: none;
}
.todo-item .task:focus {
    border: 1px solid #ccc;
    outline: none;
    outline: none;
    border-radius: 6px;
    box-shadow: 0 0 0 1px rgba(0, 123, 255, 0.5);
}

.todo-content {
    position: relative;
    display: flex;
    flex: 1;
}

.todo-content input[type='text'] {
    height: 36px;
    width: 100%;
}

.todo-content input[type='checkbox'] {
    margin-right: 12px;
}

.todo-content .task {
    width: 100%;
}

.edit-btn {
    position: absolute;
    right: 5%;
    top: 12%;
}
.edit-btn,
.add-btn {
    background-color: #20b2aa;
    border: none;
    border-radius: 3px;
    color: #fff;
    outline: none;
    /* height: 20px; */
    width: fit-content;
    font-size: 16px;
    padding: 6px 10px;
    /* position: absolute; */
    /* right: 0; */
}
.todo-content {
    padding-right: 24px;
}
.todo-btn:hover {
    cursor: pointer;
}

.delete-btn button {
    background-color: #fe0000;
    border: none;
    border-radius: 3px;
    color: #fff;
    outline: none;
    /* height: 20px; */
    width: fit-content;
    font-size: 16px;
    padding: 8px 10px;
}
